@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
body{
background-image: url("/Chapters.htmls/kite/images/bgblack.png");
background-size: 1540px;
overflow: hidden;
}
h1{
    font-family: "Cabin Sketch", fantasy;
    color: rgb(251, 255, 0);
    font-size: 50px;
    margin-left: 600px;
    margin-top: 30px; 
}
.pdf{
margin-left: 30px;
margin-top: -30px;
}






.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 4%;
    margin-top: -905px;
    margin-left: -100px;
    transform: scale(0.7);
}

.ctn{
    width: 50%;
    height: 100%;
}

.container h1{
    font-size: 4vw;
    line-height: 1;
}

.container .ctn:last-child h1{
    text-align: right;
}


/*  STRAMBLE */

.stramble .target{
    position: relative;
}

.stramble .strambable{
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    overflow: hidden;
}

.stramble .strambable:hover .letter{
    transform: translate(0, -100%);
}


.stramble .target .letter{
    position: relative;
    display: inline-block;
    transition: transform ease-out 150ms;
}
.stramble .target .letter:after{
    content: attr(data-letter);
    position: absolute;
    left: 0;
    top: 100%;
}



.round .target .content{
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.arrow{
    user-select: none;
    opacity: .8;
    z-index: 6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.reverse{
    transform: translateY(-50%) rotate(180deg);
}

.round .content:hover .title{
    transform: translate(110px, -50%);
    opacity: .6;
}

.round .content.reversed:hover .title{
    transform: translate(-110px, -50%);
}

.round .content:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1a00fa;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.rounded,.rounded:before, .rounded:after{
    content: '';
    border-radius: 50%;
    background-color: #1a00fa;
    opacity: .7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 0;
    height: 0;
    transition: all ease-in-out .3s;
}

.round .rounded{
    opacity: .6;
}
.round .content:hover .rounded{
    width: 130%;
    height: 130%;
}

.round .content:hover .rounded:before{
    width: 130%;
    height: 130%;
}

.round .content:hover .rounded:after{
    width: 130%;
    height: 130%;
}
.rounded:before{
    opacity: .4;
    transition-delay: 100ms;
}

.rounded:after{
    opacity: .1;
    transition-delay: 200ms;

}

.round .title{
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform ease-out .3s,
                opacity ease-out .2s;
    opacity: 0;
    z-index: 3;
    color: #1a00fa;
}

.round .reversed .title{
    text-align: right;
}